<h2>Period of interest</h2>

<div class="formBox">
  <form method="POST" action="/period">
    <label for="from">From</label>
    <input id="from" name="from" value="<%= period.begin %>" />
    <label for="to">To</label>
    <input id="to" name="to" value="<%= period.end %>"/>
    <input class="button" type="submit" value="Save"></input>
  </form>
</div>
